.frame-1,
.frame-1 * {
  box-sizing: border-box;
}
.frame-1 {
  background: #e34141;
  height: 1024px;
  position: relative;
  overflow: hidden;
}
.bmgt-407 {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 238px;
  top: 91px;
}
.homepage-about-us-contact {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 531px;
  top: 83px;
}
.lets-create-a-website-design {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 64px;
  font-weight: 400;
  position: absolute;
  left: 283px;
  top: 450px;
  width: 892px;
  height: 68px;
}
.today-lets-create-a-sample-website-design-in-figma-and-expect-its-corresponding-html-and-css-code {
  color: #ffffff;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 319px;
  top: 574px;
  width: 821px;
  height: 95px;
}
.rectangle-1 {
  background: #d9d9d9;
  border-radius: 20px;
  width: 354px;
  height: 85px;
  position: absolute;
  left: 555px;
  top: 708px;
}
.get-started {
  color: #000000;
  text-align: left;
  font-family: "Inter-Regular", sans-serif;
  font-size: 32px;
  font-weight: 400;
  position: absolute;
  left: 640px;
  top: 734px;
  width: 297px;
  height: 49px;
}
